# Xcode
.DS_Store
xcuserdata/
DerivedData/
build/

# Swift Package Manager
.build/
Packages/
.swiftpm/

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Archives
*.xcarchive

# Other
*.ipa
*.dSYM.zip
*.dSYM
*.crash
*.xcworkspace
